.baner{
    background-color: #cc9966;
    height: 10%;
    width: 100%;
}

.menu{
    background-color: #32CD32;
}

.tresc{
    background-color: #FFFF33;
}

.stopka{
    background-color: #990033;
}